* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #000;
    font-family: sans-serif;
}

ul {
    display: flex;
    list-style-type: none;
}

.list-items {
    position: relative;
    transition: all 0.5s;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    color: #fff;
    padding: 0.4rem 1rem;
    margin: 0 10px;
}

.list-items:before {
    content: "";
    position: absolute;
    left: 12px;
    bottom: 12px;
    height: 12px;
    width: 12px;
    opacity: 0;
    transition: all .6s;
    border-bottom: 3px solid #fff;
    border-left: 3px solid #fff;
}
 
.list-items:hover:before {
    opacity: 1;
    left: -8px;
    bottom: -8px;
}

.list-items:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 12px;
    width: 12px;
    opacity: 0;
    transition: all .6s;
    border-right: 3px solid #fff;
    border-top: 3px solid #fff;
}

.list-items:hover:after {
    opacity: 1;
    right: -8px;
    top: -8px;
}

